$color-primary: hsl(140, 49%, 55%);
$color-primary-light: hsl(111, 55%, 64%);
$color-primary-dark: hsl(160, 64%, 43%);
$heading-animation: 700ms;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2990ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;
$max-width: 120rem;

// MEDIA QUERRY BREAKPOINTS

$bp-mobile: 600px;
$bp-tablet-portrait: 900px;
$bp-tablet-landscape: 1200px;
$bp-big-desktop: 1800px;
