.mb-lg {
    margin-bottom: 8rem !important;
}

.mb-md {
    margin-bottom: 4rem !important;
}

.mb-sm {
    margin-bottom: 1.5rem !important;
}

.mt-lg {
    margin-top: 8rem !important;
}

.mt-md {
    margin-top: 4rem !important;
}

.mt-sm {
    margin-top: 1.5rem !important;
}

.txt-center {
    text-align: center !important;
}
